<nav class="navbar navbar-inverse">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">PropListings</a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-left">
        <li><a [routerLink]="['/']">Home</a></li>
        <li  *ngIf="authService.user | async"><a [routerLink]="['/listings']">Listings</a></li>
        <li  *ngIf="authService.user | async"><a [routerLink]="['/add-listing']">Add Listing</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li *ngIf="!(authService.user | async)"><input class="nav-inputs" type="text" [(ngModel)]="email" placeholder="email"></li>
        <li *ngIf="!(authService.user | async)"><input class="nav-inputs" type="password" [(ngModel)]="password" placeholder="password"></li>
        <li *ngIf="!(authService.user | async)"><a (click)="signup()">Signup</a></li>
        <li *ngIf="!(authService.user | async)"><a (click)="login()">Login</a></li>
        <li><a [routerLink]="['/']" (click)="logout()" *ngIf="authService.user | async">Logout</a></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>

<h1 class="text-center" *ngIf="authService.user | async">Welcome {{ (authService.user | async)?.email }}!</h1>

<!--

<input type="text" [(ngModel)]="email" placeholder="email">
<input type="password" [(ngModel)]="password" placeholder="password">

<li><button (click)="signup()" [disabled]="!email || !password">Signup</button></li>
            <li><button (click)="login()" [disabled]="!email || !password">Login</button></li>

<div *ngIf="!(authService.user | async)">
  <input type="text" [(ngModel)]="email" placeholder="email">
  <input type="password" [(ngModel)]="password" placeholder="password">

  <button (click)="signup()" [disabled]="!email || !password">
    Signup
  </button>

  <button (click)="login()" [disabled]="!email || !password">
    Login
  </button>
</div>

<button (click)="logout()" *ngIf="authService.user | async">
  Logout
</button>
-->
